h1 {
    color: #FF8800;
}

li {
    color: green;
}

h4 {
    background: #002F46;
    color: white;
}

body {
    background: url(https://i.pinimg.com/originals/95/36/4a/95364ab18c1c0922bc1a121f99bb5266.jpg);
}